body{
    background-color: #f07613;
    color: rgb(223, 11, 11);
    margin: 0px;
}

header{

    border-bottom: solid 2px rgb(255, 218, 6);
    padding: 20px;
    font-size: 32PX;
    color: rgb(255, 218, 6); 
}